* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 20px;
}

.section, .form {
    display: flex;
    flex-direction: column;
}

.section__titulo {
    margin-bottom: 20px;
}

.form {
    gap: 10px;
}

.form__input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form__input:focus {
    outline: none;
}

.form__btn {
    background: rebeccapurple;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
    transition: background-color 0.1s ease;
    cursor: pointer;
}

.form__btn:hover {
    background-color: rgb(118, 64, 172);
}