@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Signika', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}

.h1 {
    text-align: center;
    padding: 15px 0;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

ul li a {
    text-decoration: none;
}

main{
    padding: 0 30px;
}

footer{
    text-align: center;
}